@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --white: rgba(255, 255, 255, 0.696);
  --black: rgb(0, 8, 20);
  --lightBlack: rgb(0, 29, 61);
  --blue: rgb(0, 53, 102);
  --gold: rgb(255, 195, 0);
  --yellow: rgb(255, 214, 10);
}

html {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--gold);
}

/* navbar styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 2.5px;
  margin-bottom: 10px;
  background-color: var(--gold);
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: var(--lightBlack);
}

.expanded {
  display: unset;
}

.hamburger.expanded .line:nth-child(1) {
  transform: translate(7.5px, 10px);
  rotate: 45deg;
  -webkit-transform: translate(7.5px, 10px);
  -moz-transform: translate(7.5px, 10px);
  -ms-transform: translate(7.5px, 10px);
  -o-transform: translate(7.5px, 10px);
}

.hamburger.expanded .line:nth-child(2) {
  background-color: transparent;
}

.hamburger.expanded .line:nth-child(3) {
  transform: translate(7.5px, -10px);
  rotate: -45deg;
  -webkit-transform: translate(7.5px, -10px);
  -moz-transform: translate(7.5px, -10px);
  -ms-transform: translate(7.5px, -10px);
  -o-transform: translate(7.5px, -10px);
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
