---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here's a list of projects I've worked on over the years</p>
  <ul>
    <li><a href="/posts/emall/">eMall</a></li>
    <li><a href="/posts/eriantys/">Eriantys</a></li>
    <li><a href="/posts/graphranker/">Graph Ranker</a></li>
    <li><a href="/posts/hwmodule/">HW module written in VHDL</a></li>
    <li><a href="/posts/optimization/">Optimization Projects</a></li>
    <li><a href="/posts/thissite/">This Site</a></li>
  </ul>
</BaseLayout>
