---
import Social from "./Social.astro";
---

<footer>
  <p>You can reach me at:</p>
  <Social platform="github" link="https://www.github.com/gio-del" />
  <Social
    platform="linkedin"
    link="https://www.linkedin.com/in/giovannidelucia"
  />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
