---
const { platform, link } = Astro.props;
import github from "/assets/github.svg";
import linkedin from "/assets/linkedin.svg";

const socialIcon = {
  github: "fab fa-github",
  linkedin: "fab fa-linkedin",
  mail: "fas fa-envelope",
};
---

<a href={link}>
  <i class={socialIcon[platform]}></i>
</a>

<style>
  i {
    font-size: 2rem;
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  a:hover i {
    color: var(--secondary);
    rotate: 360deg;
  }
  i {
    color: var(--tertiary);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }
</style>
