---
const { platform, link } = Astro.props;
import github from "../assets/github.svg";
import linkedin from "../assets/linkedin.svg";

const socialIcon = {
  github,
  linkedin,
};
---

<a href={link}>
  <img src={socialIcon[platform]} />
</a>

<style>
  img {
    width: 30px;
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  a:hover img {
    rotate: 360deg;
  }
  a {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }
</style>
