---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    You can find the Github repository <a href={frontmatter.github}>here</a>
  </p>
  <slot />
</BaseLayout>
